In [1]:
import pandas as pd
import numpy as np

Find Duplicate
- PROGEN
- PROPERTY HUB

In [2]:
RPROGENPATH = "C:\\Users\\Gordon.Tang\\OneDrive - JLL\\Progen_Site_List\\"
IPHUBPATH ="C:\\Users\\Gordon.Tang\\Desktop\\dataManagement\\ds\\phub\\phub.xlsx"
IPROGENPATH = f"{RPROGENPATH}progen15-02-2022.csv"
df_phub = pd.read_excel(IPHUBPATH)
df_progen = pd.read_csv(IPROGENPATH)

In [15]:
df_phub_1 = df_phub[["RecordID", "Property Name", "Client Property Code","E1 BU"]]

In [5]:
df_progen_1 = df_progen[[
    "Name", 
    "Lease", 
    "OVCP_ID - JLL Interface", 
    "Corrigo Customer Number"]].astype({
    "OVCP_ID - JLL Interface" : int,
    "Corrigo Customer Number" : int
    })

In [6]:
df_progen_1

,Name,Lease,OVCP_ID - JLL Interface,Corrigo Customer Number
0,VIC - BRIGHT - 115 Gavan Street Bright ACC,5000015,17648631,2249
1,VIC - BURWOOD - 400 Burwood Highway Burwood ACC 1,5000017,18046502,2370
2,VIC - FERNTREE GULLY - 1 Mountaingate Drive Fe...,5000039,17648434,348
3,VIC - FRANKSTON - 34 Willis Street Frankston A...,5000042,17649675,873
4,VIC - HAMILTON - Foster Street Hamilton LCC LAB,5000049,17650627,880
...,...,...,...,...
2409,"WA - MIRA MAR - Pathology Room, Albany Day Hos...",TE0008,0,0
2410,NSW - DARLINGHURST - 213 - 219 Darlinghurst Ro...,TE0009,18046473,4448
2411,WA - WEST PERTH - Path Room 1 Gnd Flr and Path...,TE0009,0,0
2412,"QLD - TARINGA - QML Laboratory, Westside Priva...",TE0010,0,0
2413,"QLD - BUDERIM - Tenancy G1.2,10 King Street",TE0011,0,0

In [16]:
df_phub_1

,RecordID,Property Name,Client Property Code,E1 BU
0,17648402,NSW - UMINA - 1 Alfred St,PRY00003,4849800003
1,17648403,VIC - CORIO - 1 Bacchus Marsh Road,PRY00004,4849800004
2,17648404,TAS - BRIGHTON - 1 Bedford St,PRY00005,4849800005
3,17648405,VIC - MERNDA - 1 Bent St,PRY00006,4849800006
4,17648406,WA - CAREY PARK - 1 Brittain Road,PRY00007,4849800007
...,...,...,...,...
2707,95767780,NSW - SHOAL BAY - 5 Government Rd,PRY03471,4849803471
2708,95767782,VIC - MELTON - 275 High St,PRY03472,4849803472
2709,95767787,QLD - GLADSTONE CENTRAL - 172 Goondoon St,PRY03473,4849803473
2710,95771961,QLD - KEPERRA - 1028 Samford Rd,PRY03474,4849803474
2711,95771968,NSW - NEUTRAL BAY - 3-5 Waters Rd,PRY03475,4849803475

In [27]:
# np.setdiff1d(df_phub_1["RecordID"],df_progen_1["OVCP_ID - JLL Interface"])

In [28]:
diffOVCP = np.setdiff1d(df_progen_1["OVCP_ID - JLL Interface"],df_phub_1["RecordID"])

In [35]:
OPATH = "C:\\Users\\Gordon.Tang\\Desktop\\IFM\\reconcile\\progenVSphub.csv"
df_progen_2 = df_progen_1[df_progen_1["OVCP_ID - JLL Interface"].isin(diffOVCP) & df_progen_1["OVCP_ID - JLL Interface"].ne(0)].sort_values(by="Name")
df_progen_2.to_csv(OPATH, index=False)