In [9]:
import pandas as pd
import numpy as np
import xlwings as xw
import glob

In [14]:
WEEK = "40th_2021"

PATH_TRANSFORMED_MVEXP = f"D:\\Run Analysis\\blob_storage\\truck_exp_other\\transformed_og_ds\\{WEEK}.csv"   

PATH_ROSTER = f"D:\\Run Analysis\\blob_storage\\roster\\{WEEK}.xlsx"

PATH_COMPLETE_ALLOC = f"D:\\Run Analysis\\blob_storage\\truck_exp_other\\processed\\{WEEK}_alloc.csv"

PATH_COMPLETE_DETAIL = f"D:\\Run Analysis\\blob_storage\\truck_exp_other\\processed\\{WEEK}_deatiled.csv"

mvexp_df = pd.read_csv(PATH_TRANSFORMED_MVEXP)

roster_df = pd.read_excel(PATH_ROSTER)

mvexp_df_trucks_list = mvexp_df['Job No.'].unique()

pri_trucks = roster_df.dropna(
subset=['Primary_truck']).Primary_truck.str.replace(' ', '').unique()

sec_trucks = roster_df.dropna(
subset=['Alternative_Truck']).Alternative_Truck.str.replace(' ', '').unique()

roster_df_trucks_list = np.append(pri_trucks, sec_trucks)

uni_ros_trucks = list(set(roster_df_trucks_list))

ros_trucks = np.array(uni_ros_trucks)

# Excel
trucks_not_in_yard = np.setdiff1d(
ros_trucks, mvexp_df_trucks_list, assume_unique=True)
# Excel
trucks_in_yard = np.setdiff1d(
mvexp_df_trucks_list, ros_trucks, assume_unique=True)

In [15]:
def clean_roster_df(df):
        df.Primary_truck = df.Primary_truck.str.replace(" ", "")
        df.Alternative_Truck = df.Alternative_Truck.str.replace(" ", "")
        df = df.fillna(0)
        return df

roster_df = clean_roster_df(roster_df)

pri_truck_runs_count = roster_df.Primary_truck.value_counts()

sec_truck_runs_count = roster_df.Alternative_Truck.value_counts()

In [18]:
total_truck_runs_count = (pd
                              .concat([pri_truck_runs_count, sec_truck_runs_count])
                              .reset_index()
                              .groupby('index')
                              .sum().iloc[1:]
                              .reset_index()
                              .rename(columns={"index": "number_plate", 0: "runs"})

                              )

In [20]:
mvexp_truckcounts_df = pd.merge(
        mvexp_df, total_truck_runs_count, how="left", left_on='Job No.', right_on='number_plate')

In [26]:
mvexp_truckcounts_df['per_truck_cost'] = mvexp_truckcounts_df.Debit / \
        mvexp_truckcounts_df.runs

mvexp_cost_summary_df = mvexp_truckcounts_df[[
        'Acc_name', 'Job No.', 'per_truck_cost']].dropna(subset=['per_truck_cost'])

In [29]:
mvexp_cost_summary_df

truck_cost = pd.merge(roster_df, mvexp_cost_summary_df, how="left",left_on='Primary_truck', right_on='Job No.')

total_truck_cost = pd.merge(truck_cost, mvexp_cost_summary_df, how="left", left_on='Alternative_Truck', right_on='Job No.')  
PATH =  "D:\\Run Analysis\\blob_storage\\truck_exp_other\\truck_cost.csv"
total_truck_cost.to_csv(PATH, index=False)

,Date,Run_type,Primary_employeeID,Secondary_employeeID,Primary_driver_Name,Secondary_Driver_Name,Primary_route,Satellite_Route_1,Satellite_Route_2,Primary_truck,Alternative_Truck,Subcontracted_From/Special_Client,Note,Acc_name_x,Job No._x,per_truck_cost_x,Acc_name_y,Job No._y,per_truck_cost_y
0,2021-10-06,NIGHT RUNS,subcon1,0,ALAN WALDEN,0,RLC,0,0,CQ64LO,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-10-10,NIGHT RUNS,subcon1,0,ALAN WALDEN,0,RL9,0,0,CQ64LO,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-10-12,NIGHT RUNS,subcon1,0,ALAN WALDEN,0,RLC,0,0,CQ64LO,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-10-07,NIGHT RUNS,subcon1,0,ALAN WALDEN,0,RLC,0,0,CQ64LO,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-10-09,DAY RUNS,swpetand,0,ANDREW PETERSON,0,BR1,0,0,XN75OS,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,2021-10-09,DAY RUNS,irdeaz,0,ZAC DEAN,0,RL7,0,0,XN44QZ,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
164,2021-10-11,DAY RUNS,irdeaz,0,ZAC DEAN,0,RL7,0,0,XN44QZ,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
165,2021-10-06,DAY RUNS,irdeaz,0,ZAC DEAN,0,RL7,0,0,XN44QZ,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
166,2021-10-12,DAY RUNS,irdeaz,0,ZAC DEAN,0,RL7,0,0,XN44QZ,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
167,2021-10-08,DAY RUNS,irdeaz,0,ZAC DEAN,0,RL7,0,0,XN44QZ,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN