In [1]:
import pandas as pd
import numpy as np

In [7]:
PATH = 'D:\\Run Analysis\\blob_storage\\truck_exp_other\\original_ds\\20211024_motorVehicle.xlsx'
COMPLETEPATH = 'D:\\Run Analysis\\blob_storage\\truck_exp_other\\transformed_og_ds\\40th_2021.csv'   
df = pd.read_excel(PATH)
df.Date = pd.to_datetime(df.Date, format="%d/%m/%Y")
df[df.Date.between('20211006', '20211012')].to_csv(COMPLETEPATH,index=False)

In [8]:
WEEK = "40th_2021"

PATH_TRANSFORMED_MVEXP = f"D:\\Run Analysis\\blob_storage\\truck_exp_other\\transformed_og_ds\\{WEEK}.csv"

PATH_ROSTER = f"D:\\Run Analysis\\blob_storage\\roster\\{WEEK}.xlsx" 

mvexp_df = pd.read_csv(PATH_TRANSFORMED_MVEXP)

roster_df = pd.read_excel(PATH_ROSTER)

In [27]:
mvexp_df_trucks_arr = mvexp_df['Job No.'].unique()

In [30]:
pri_trucks = roster_df.dropna(subset=['Primary_truck']).Primary_truck.str.replace(' ','').unique()
sec_trucks = roster_df.dropna(subset=['Alternative_Truck']).Alternative_Truck.str.replace(' ','').unique()
# pri_trucks
arr = np.append(pri_trucks, sec_trucks)
uniqArr = list(set(arr))
ros_trucks = np.array(uniqArr)

In [31]:
np.setdiff1d(ros_trucks,mvexp_df_trucks_arr  ,assume_unique=True)

array(['XN65IJ', 'XN76VB', 'XN70OD', 'CG94KY', 'XN10HU', 'CJ65PS',
       'XN81VB', 'XN44QZ', 'XN71FD', 'XN19IN', 'CL98LU', 'CH32FV',
       'XN62UD', 'XN72FD', 'CQ64LO', 'XN25GD', 'XN75OS', 'XO62AB'],
      dtype='<U6')

In [32]:
np.setdiff1d(mvexp_df_trucks_arr,ros_trucks  ,assume_unique=True)

array(['New Front Lift', 'New Hook Lift', 'FLEET', 'XN13KR'], dtype=object)

In [42]:
PATH = "D:\\Run Analysis\\blob_storage\\roster\\32th_2021.xlsx"
roster_df = pd.read_excel(PATH)


def clean_roster_df(df):
    df.Primary_truck = df.Primary_truck.str.replace(" ", "")
    df.Alternative_Truck = df.Alternative_Truck.str.replace(" ", "")
    df = df.fillna(0)
    return df

roster_df = clean_roster_df(roster_df)


pri_truck_runs_count = roster_df.Primary_truck.value_counts()
sec_truck_runs_count = roster_df.Alternative_Truck.value_counts()

# =============================================================================================
# Counting Trucks runs
total_truck_runs_count = (pd
                            .concat([pri_truck_runs_count, sec_truck_runs_count])
                            .reset_index()
                            .groupby('index')
                            .sum().iloc[1:]
                            .reset_index()
                            .rename(columns={"index" : "number_plate", 0: "runs"})
                            )
df_99 = pd.merge(mvexp_df, total_truck_runs_count, how="left", left_on='Job No.', right_on='number_plate')

In [47]:
df_99['per_run_cost']= df_99.Debit / df_99.runs

df_99[['Date','Acc_name', 'Date', 'Job No.', 'Debit','per_run_cost']]

,Date,Acc_name,Date,Job No.,Debit,per_run_cost
0,7/10/2021,MV R&M - Cab&Chassic,7/10/2021,BY46TO,99.28,19.856000
1,8/10/2021,MV R&M - Cab&Chassic,8/10/2021,XN80YD,69.05,5.311538
2,11/10/2021,MV R&M - Cab&Chassic,11/10/2021,New Front Lift,84.00,NaN
3,11/10/2021,MV R&M - Cab&Chassic,11/10/2021,XPL658,150.00,25.000000
4,11/10/2021,MV R&M - Cab&Chassic,11/10/2021,CF48ED,150.00,75.000000
5,11/10/2021,MV R&M - Cab&Chassic,11/10/2021,New Hook Lift,150.00,NaN
6,11/10/2021,MV R&M - Cab&Chassic,11/10/2021,BL82AG,150.00,37.500000
7,11/10/2021,MV R&M - Cab&Chassic,11/10/2021,XN72MK,150.00,30.000000
8,12/10/2021,MV R&M - Cab&Chassic,12/10/2021,CF71JM,360.41,72.082000
9,8/10/2021,MV R&M - Compactor/Body,8/10/2021,CF71JM,284.02,56.804000
10,11/10/2021,MV R&M - Compactor/Body,11/10/2021,XPL658,107.59,17.931667
11,12/10/2021,MV R&M - Misc Consum,12/10/2021,FLEET,660.83,NaN
12,6/10/2021,M.V R&M - Tyres,6/10/2021,XN13KR,50.05,NaN
13,7/10/2021,M.V R&M - Tyres,7/10/2021,CF71JM,195.00,39.000000
14,7/10/2021,M.V R&M - Tyres,7/10/2021,XN52IJ,135.00,22.500000
15,7/10/2021,M.V R&M - Tyres,7/10/2021,BY46TO,45.00,9.000000
16,7/10/2021,M.V R&M - Tyres,7/10/2021,CF71JM,125.00,25.000000
17,11/10/2021,M.V R&M - Tyres,11/10/2021,XN06OJ,45.00,9.000000
18,11/10/2021,M.V R&M - Tyres,11/10/2021,CL02TB,90.00,22.500000
19,12/10/2021,M.V R&M - Tyres,12/10/2021,CN41XN,45.00,9.000000
20,12/10/2021,M.V R&M - Tyres,12/10/2021,XN72MK,45.00,9.000000
21,12/10/2021,M.V R&M - Tyres,12/10/2021,CN41XN,180.00,36.000000
22,11/10/2021,MV Workshop Contractor Labour,11/10/2021,FLEET,800.00,NaN
23,11/10/2021,MV Workshop Contractor Labour,11/10/2021,FLEET,800.00,NaN
24,11/10/2021,MV Workshop Contractor Labour,11/10/2021,FLEET,600.00,NaN
25,11/10/2021,MV Workshop Contractor Labour,11/10/2021,FLEET,1920.00,NaN
26,11/10/2021,MV Workshop Contractor Labour,11/10/2021,FLEET,300.00,NaN

In [43]:
total_truck_runs_count

   number_plate  runs
0        BL82AG     4
1        BY46TO     5
2        CF48ED     2
3        CF71JM     5
4        CH32FV     2
5        CL02TB     4
6        CL98LU     5
7        CN41XN     5
8        CQ64LO     9
9        X062AB     1
10       XN06OJ     5
11       XN10HU     5
12       XN19IN     9
13       XN25GD     5
14       XN44QZ     6
15       XN52IJ     6
16       XN62UD     6
17       XN65IJ     7
18       XN70OD     7
19       XN71FD     4
20       XN72FD     1
21       XN72MK     5
22       XN75OS     6
23       XN76VB     2
24       XN80YD    13
25       XN81VB     5
26       XO62AB     2
27       XPL658     6